Example:
Input: 3
Output: ['***', '***', '***']
 
Input: 5
Output: ['*****', '*****', '*****', '*****', '*****']

In [1]:
n=5
result=[]
for i in range(n):
    result.append('*' *n)

result

['*****', '*****', '*****', '*****', '*****']

Example:
Input: 3
Output: ['***', '* *', '***']
 
Input: 5
Output: ['*****', '*   *', '*   *', '*   *', '*****']

In [8]:
n=5
result=[]
if n == 1:
    print('*')
        
elif n==2:
    print('**', '**')
      
for i in range(n):
    if i==0 or i==n-1:
        result.append('*' *n)
    else:
        result.append('*'+' '* (n-2) +'*')
    
result

['*****', '*   *', '*   *', '*   *', '*****']

Input: n = 4, m = 5
Output: ['*****', '*****', '*****', '*****']
 
Input: n = 3, m = 2

Output: ['**', '**', '**']

In [11]:
n=3
m=4
result=[]
for i in range(n):
    result.append("*"*m)
    
result

['****', '****', '****']

Input: 3
Output: ['*', '**', '***']
 
Input: 5
Output: ['*', '**', '***', '****', '*****']

In [13]:
n=5
result=[]
    
for i in range(1, n+1):
    result.append('*' * i)
    
result

['*', '**', '***', '****', '*****']

Input: 3
Output: ['***', '**', '*']
 
Input: 5
Output: ['*****', '****', '***', '**', '*']

In [18]:
n=4
for i in range(n,0,-1):
    print('*'* i )

****
***
**
*

Input: 3
Output: ['  *  ', ' *** ', '*****']
 
Input: 5
Output: ['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [1]:
n=3
result=[]
    
for i in range(n):
    space=' ' * (n - i - 1)
    stars='*' * (2 * i + 1)
    result.append(space + stars + space)
        
result

['  *  ', ' *** ', '*****']

Input: 3
Output: ['*****', ' *** ', '  *  ']
 
Input: 5
Output: ['*********', ' ******* ', '  *****  ', '   ***   ', '    *    ']

In [12]:
n=4
results = []
for i in range(n,0,-1):
    star="*" * (2 * i - 1) 
    space=" " *  (n - i)
    results.append(space + star + space)
    
results

['*******', ' ***** ', '  ***  ', '   *   ']

Input: 5
Output: ['1', '22', '333', '4444', '55555']
 
Input: 3
Output: ['1', '22', '333']

In [13]:
n=5
results=[]
for i in range(1,n+1):
    temp=str(i) * i
    results.append(temp)
    
results

['1', '22', '333', '4444', '55555']

In [25]:
letters = ["A", "B", "C"]
"".join(letters)

'ABC'

In [26]:
results=[]
num=1
n=5
for i in range(1,n+1):
    row=[]
    for j in range(i):
        row.append(str(num))
        num=num + 1
            
    results.append(" ".join(row))
    
results

['1', '2 3', '4 5 6', '7 8 9 10', '11 12 13 14 15']

Input: 3
Output: ['  *  ', ' *** ', '*****', ' *** ', '  *  ']
 
Input: 5
Output: ['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********', ' ******* ', '  *****  ', '   ***   ', '    *    ']

In [28]:
n=9
result=[]
for upper in range(1,n+1):
        
    space=" " * (n - upper)
    star="*" * (2 * upper - 1 )
    result.append(space + star + space)
    
for lower in range(n -1 ,0,-1):
        
    space=" " * (n - lower)
    star="*" * (2 * lower - 1)
    result.append(space + star + space)
      
result

['        *        ',
 '       ***       ',
 '      *****      ',
 '     *******     ',
 '    *********    ',
 '   ***********   ',
 '  *************  ',
 ' *************** ',
 '*****************',
 ' *************** ',
 '  *************  ',
 '   ***********   ',
 '    *********    ',
 '     *******     ',
 '      *****      ',
 '       ***       ',
 '        *        ']

Input: 4
Output: ['   *', '  **', ' ***', '****']
 
Input: 3
Output: ['  *', ' **', '***']

In [29]:
results=[]
for i in range(1,n+1):
    space=" " * (n - i)
    star="*" * i
    results.append(space + star)
        
results

['        *',
 '       **',
 '      ***',
 '     ****',
 '    *****',
 '   ******',
 '  *******',
 ' ********',
 '*********']

Input: 3
Output: ['*****', ' *** ', '  *  ', ' *** ', '*****']
 
Input: 4
Output: ['*******', ' ***** ', '  ***  ', '   *   ', '  ***  ', ' ***** ', '*******']

In [30]:
result=[]
    
for i in range(n,0,-1):
    space = " " * (n - i)
    star = "*" * (2 * i - 1)
    
    result.append(space + star + space)
        
for i in range(2,n+1):
    space = " " * (n - i)
    star = "*" * (2 * i - 1)
    
    result.append(space + star + space)    
        
result

['*****************',
 ' *************** ',
 '  *************  ',
 '   ***********   ',
 '    *********    ',
 '     *******     ',
 '      *****      ',
 '       ***       ',
 '        *        ',
 '       ***       ',
 '      *****      ',
 '     *******     ',
 '    *********    ',
 '   ***********   ',
 '  *************  ',
 ' *************** ',
 '*****************']

Input: 4
Output: ['*', '**', '* *', '****']
 
Input: 5
Output: ['*', '**', '* *', '*  *', '*****']

In [31]:
triangle = []
for i in range(1, n + 1):
    if i == 1:
        triangle.append("*")
    elif i == 2:
        triangle.append("**")
    elif i == n:
        triangle.append("*" * n)
    else:
        triangle.append("*" + " " * (i - 2) + "*")


triangle

['*',
 '**',
 '* *',
 '*  *',
 '*   *',
 '*    *',
 '*     *',
 '*      *',
 '*********']

Input: 4
Output: ['****', '* *', '**', '*']
 
Input: 5
Output: ['*****', '*  *', '* *', '**', '*']

In [34]:

triangle = []
for i in range(n):
    stars_in_row = n - i  # number of columns in this row

    if stars_in_row == 1:
        triangle.append("*")  # last row
    elif stars_in_row == 2:
        triangle.append("**")  # second to last row
    elif i == 0:
        triangle.append("*" * stars_in_row)  # top row: all stars
    else:
        inner_spaces = stars_in_row - 2
        triangle.append("*" + " " * inner_spaces + "*")
triangle

['*********',
 '*      *',
 '*     *',
 '*    *',
 '*   *',
 '*  *',
 '* *',
 '**',
 '*']