Example:
Input: 3
Output: ['***', '***', '***']
 
Input: 5
Output: ['*****', '*****', '*****', '*****', '*****']

In [1]:
n=5
result=[]
for i in range(n):
    result.append('*' *n)

result

['*****', '*****', '*****', '*****', '*****']

Example:
Input: 3
Output: ['***', '* *', '***']
 
Input: 5
Output: ['*****', '*   *', '*   *', '*   *', '*****']

In [8]:
n=5
result=[]
if n == 1:
    print('*')
        
elif n==2:
    print('**', '**')
      
for i in range(n):
    if i==0 or i==n-1:
        result.append('*' *n)
    else:
        result.append('*'+' '* (n-2) +'*')
    
result

['*****', '*   *', '*   *', '*   *', '*****']

Input: n = 4, m = 5
Output: ['*****', '*****', '*****', '*****']
 
Input: n = 3, m = 2

Output: ['**', '**', '**']

In [11]:
n=3
m=4
result=[]
for i in range(n):
    result.append("*"*m)
    
result

['****', '****', '****']

Input: 3
Output: ['*', '**', '***']
 
Input: 5
Output: ['*', '**', '***', '****', '*****']

In [13]:
n=5
result=[]
    
for i in range(1, n+1):
    result.append('*' * i)
    
result

['*', '**', '***', '****', '*****']

Input: 3
Output: ['***', '**', '*']
 
Input: 5
Output: ['*****', '****', '***', '**', '*']

In [18]:
n=4
for i in range(n,0,-1):
    print('*'* i )

****
***
**
*

Input: 3
Output: ['  *  ', ' *** ', '*****']
 
Input: 5
Output: ['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [19]:
n=3
result=[]
    
for i in range(n):
    space=' ' * (n - i - 1)
    stars='*' * (2 * i + 1)
    result.append(space + stars + space)
        
result

['  *  ', ' *** ', '*****']